<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar">
    <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/youtube">YouTube</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="content">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dui justo, facilisis molestie lobortis quis, varius et diam. Vivamus at iaculis sem. Vivamus interdum, libero vitae tincidunt blandit, neque ligula sodales leo, eleifend porta risus ligula id erat. Pellentesque nec sagittis dolor. In hac habitasse platea dictumst. Suspendisse non rhoncus nunc, sit amet lacinia sem. Phasellus accumsan magna eget pharetra convallis. Sed vel leo venenatis, scelerisque nisl at, mattis urna. Nam sed erat facilisis, mollis magna ut, vestibulum lacus. Duis bibendum nisi in ex fermentum tempus. Ut sit amet erat eget dolor mattis maximus at faucibus enim.

        Nunc euismod vitae eros et pellentesque. Etiam molestie cursus vestibulum. Vestibulum ut elit tortor. Mauris in bibendum lectus. Ut lobortis fermentum lacus, ac facilisis nibh aliquam quis. Integer dignissim elit at est ultricies tincidunt. Nulla auctor purus ac mattis imperdiet. Curabitur aliquam lobortis massa vel dapibus. Cras in vehicula eros. Praesent rhoncus, sem eu tempus porta, diam dolor gravida nunc, at pulvinar odio mi vel arcu.

        Vestibulum vitae dictum nibh. Pellentesque consectetur finibus fringilla. Praesent tellus magna, fermentum ut mi id, hendrerit volutpat ex. Proin dignissim lacus ex, a luctus metus fringilla eget. Nullam a mollis nulla. Etiam dignissim tortor lacus, eget convallis urna fringilla sed. Integer enim turpis, vestibulum a elit nec, dignissim placerat justo. Sed eu erat ut nisl pharetra vulputate eget eget diam. Suspendisse sit amet ex id nunc eleifend bibendum vitae eu elit. Etiam elementum convallis ex, ac ullamcorper est. Vivamus tempor non nisl ac scelerisque. Donec et ultricies nulla. Donec sed lacinia ex, vitae euismod est. Sed vestibulum ipsum ut nunc gravida congue.

        Etiam lobortis leo vitae odio ultrices pulvinar. Mauris lacinia tellus tortor, quis rhoncus nulla ullamcorper in. Nunc semper nunc neque, auctor consequat diam tempus malesuada. Ut dictum lorem maximus, convallis dolor nec, dapibus lacus. Donec ut accumsan augue. Nullam eget dictum massa, eget auctor massa. Suspendisse eu dui dapibus, feugiat justo eget, congue diam. Pellentesque faucibus tellus sed lacus faucibus faucibus. Pellentesque pellentesque turpis quis arcu pretium, in facilisis lectus hendrerit. Nam ornare ac nunc ac convallis.

        Pellentesque porta, tortor in porttitor dapibus, diam lectus hendrerit odio, eu pretium nisi ante at ex. Nunc suscipit lectus sed dui lacinia, iaculis venenatis sem suscipit. Suspendisse potenti. Etiam vel vestibulum dui, a tincidunt nunc. Donec vel nibh cursus, eleifend ipsum nec, molestie tortor. Aliquam porta lacus non risus varius, in ornare augue ornare. Vestibulum facilisis tempus vulputate. Etiam condimentum, magna vel venenatis iaculis, eros odio gravida erat, vitae semper justo est a ligula. Curabitur vel mi velit. Aliquam erat volutpat. Mauris eget ipsum metus.</p>
</div>
</body>
</html>