<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        setTimeout(() => {
            window.location.href = 'https://yt.heyn.live';
        }, 3000);
    </script>
</head>
<body>
<nav class="navbar">
    <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/youtube">YouTube</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="content">
    <h1>YouTube</h1>
    <p>You will be redirected in 3 seconds!</p>
</div>
</body>
</html>